.exclusiveOffers-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exclusiveOffers-card img {
  height: 300px; /* fix the image height */
  object-fit: cover; /* crop/fit image to cover the area */
}
