.logo {
  height: 36px;
  transition: all 0.3s ease;
}

.badge-heart {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 0.7rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: transparent !important;
  color: inherit !important;
}

#dropdown-user::after {
  display: none;
}

.offcanvas-fullscreen {
  width: 100% !important;
  max-width: 100% !important;
  height: 100vh !important;
}

.offcanvas-fullscreen .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.offcanvas-fullscreen .nav-link {
  font-size: 1.5rem;
  text-align: center;
}
